body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(45, 211,111);
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* centering the inputs */
.centralize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* setting the colors for buttons */
.error{
  margin-top: 2px;
  font-weight: bold;
  color: #2dd36f;
  background-color: #fff;
}
input,
button{
  padding: 10px;
}
input{
  border: none;
}

button{
  cursor: pointer;
}
button:disabled{
  opacity: 0.7;
  cursor: not-allowed;
}
button:active{
  opacity: 0.8;
}

button.clear {
  background: none;
  border: none;
  color: white;
}
button.solid {
  background: white;
  border: none;
  color: rgb(45, 211,111);
}
button.outline {
  background: none;
  border: 1px solid white;
  color: white;
}