* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(45, 211,111);
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* checking strengh of password input */
.forcaSenha {
  font-weight: bold;
  margin-bottom: 0.5%;
  background-color: antiquewhite;
  font-family:courier,arial,helvetica;
  width: 100%;
}

.Fraquissima {
  background-color: red;
  padding-right: 15%;
}

.Fraca {
  padding-right: 30%;
  background-color: orange;
}

.Média {
  padding-right: 50%;
  background-color: yellow;
}

.Forte {
  padding-right: 93.6%;
  background-color: green;
}
.Muitoforte{
  background-color: blue;
}

/* centering the inputs */

.icon {
  position: absolute;
  padding: 10px;
}
.profilePic{
  border-radius: 50%;
}

/* setting the colors for buttons */

button{
  padding: 10px;
}

button{
  cursor: pointer;
}
button:disabled{
  opacity: 0.7;
  cursor: not-allowed;
}
button:active{
  opacity: 0.8;
}
